{
  email {$CADDY_EMAIL}
}

{$PUBLIC_DOMAIN} {
  encode zstd gzip

  @socket path /socket.io* /token* /api/generate-token
  handle @socket {
    reverse_proxy socket-server:9898
  }

  @api path /api/* /ready* /health* /uploads/*
  handle @api {
    reverse_proxy bff:25500
  }

  handle {
    reverse_proxy admin-web:80
  }
}

{$ADMIN_DOMAIN} {
  encode zstd gzip

  @socket path /socket.io* /token* /api/generate-token
  handle @socket {
    reverse_proxy socket-server:9898
  }

  @api path /api/* /ready* /health* /uploads/*
  handle @api {
    reverse_proxy bff:25500
  }

  handle {
    reverse_proxy admin-web:80
  }
}
